@font-face{
  font-family: GE SS Two Medium;
  src: url(../fonts/GE_SS_Two_Medium.otf) format("truetype");
}

@font-face{
  font-family: GE SS Two Light;
  src: url(../fonts/GE_SS_Two_Light.otf) format("truetype");
}


.r1{
  width: 100%;
}


body{
  background-image: url('./img/background.png');
  overflow-x: hidden;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: cover;
  margin: 0;
  padding: 0;
}


/****************Navbar Style**************** */

nav {
  width: 100%;
  margin-left: 0;
}

nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  
}

ul.topnav li {
  list-style: none;
  float: left;
  font-family: 'GE SS Two Medium';
}

ul.topnav li.topnav-right {
  float: right;
  margin-right: 2vh;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 7px;
  text-transform: uppercase;
  color: white;
}

.active {
  border-bottom: 2px solid #5D8E6D;
  color: #5D8E6D;
}
/* to make a highlight above the text*/
ul.topnav li a:hover {
  color:#5D8E6D;
  border-bottom: 2px solid #5D8E6D;
 /*  font-size: 14px; */
}

ul.topnav li.dropdownIcon {
  display: none;
  transition: transform 0.5s ease-in;
}

.logoImg{
  width: 15vh;
  height: 10vh;
  margin-left: 5vh;
  margin-top: 1vh;
}


.menuImg{
  width: 30px;
  height: 30px;
  
}



/**************** End Navbar Style**************** */





.SocialIcons{
  height: 50vh;
}

/* .pageContent{
  height: 90vh;
} */

#twitterIcon, #youtubeIcon, #linkedinIcon{
  width: 28px;
  height: 23px;
}


.twitterIcon{
  padding: 10px;
  background-color: rgba(93, 142, 109, 0.4);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 6%;
  left: 70%;
  /* margin: -25px 0 0 -25px; */
  transition: 1s;
  cursor: pointer;
}



.youtubeIcon{
  padding: 10px;
  background-color: rgba(93, 142, 109, 0.4);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: 70%;
  /* margin: -25px 0 0 -25px; */
  transition: 1s;
  cursor: pointer;
}


.linkedinIcon{
  padding: 10px;
  background-color: rgba(93, 142, 109, 0.4);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 38%;
  left: 70%;
  /* margin: -25px 0 0 -25px; */
  transition: 1s;
  cursor: pointer;
}

.twitterIcon:hover, .youtubeIcon:hover, .linkedinIcon:hover {
  background-color: rgba(93, 142, 109, 0.9);
 }


/************* Mobile Design *****************/


@media (max-width: 786px){

  
  body{
    height: 150vh;
    overflow-x: hidden !important;
  }
  .logoImg{
      margin-left: 1vh;
  }

   ul.topnav li:not(:nth-child(1)) {
      display: none;
  }

  ul.topnav li.dropdownIcon {
      display: block;
      float: right;
      cursor: pointer;
  }

  ul.topnav.responsive li.dropdownIcon {
      position: absolute;
      top: 0;
      right: 0;
  }

  ul.topnav.responsive {
      position: relative;
  }

  ul.topnav.responsive li {
      display: inline;
      float: none;
  }

  ul.topnav.responsive li a {
      display: block;
      text-align: center;
  }
 
  ul.topnav li a:hover {
      color: white;
      background-color:  #5D8E6D;;
      font-size: 15px;
      border: none;
      font-weight: bold;
      font-family: 'GE SS Two Medium';
  }

/******************************/

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 27px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 27px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


.twitterIcon, .youtubeIcon, .linkedinIcon{
  width: 43px;
  height: 44px;
  left: 40%;
}

#twitterIcon, #youtubeIcon, #linkedinIcon{
  width: 20px;
  height: 20px;
  
}

}

/******** iPad Design **********/

  @media screen and (min-width: 768px) and (max-width: 1366px){
    
    body{
      height: 130vh;
     
    }

    
    .twitterIcon, .youtubeIcon, .linkedinIcon {
      width: 50px;
      height: 50px;
      padding: 9px;
      left: 90%;
  }
  
  .twitterIcon{
    top: 7%;
  } 
  .youtubeIcon{
    top: 20%;
  } 
  .linkedinIcon{
    top: 33%;
  }
  
  }


