
@font-face{
  font-family: GE SS Two Medium;
  src: url(../fonts/GE_SS_Two_Medium.otf) format("truetype");
}

@font-face{
  font-family: GE SS Two Light;
  src: url(../fonts/GE_SS_Two_Light.otf) format("truetype");
}



.r2{
  margin-top: 7vh;
}



.sr {
  text-align: right;
  padding-top: 8vh;
}

.line1 {
  width: 30vh;
  height: 0.5vh;
  background-color: white;
  border-radius: 20vh;
  float: right;
  margin-top: 2.0vh;
}

h1 {
  color: #5D8E6D;
  font-family: "GE SS Two Medium";
  padding-right: 31vh;
  text-align: right;
  font-size: 1.8rem;
}

h5{
  margin-top: 5vh;
}

#mainContact{
  text-decoration: none;
  color: white;
  font-family: " Calibre Bold";
  background-color: #5D8E6D;
  font-size: 1.3rem;
  padding: 1vh;
  border-radius: 5vh;
  margin-top: 1vh;
}

.email{
  margin-bottom: 2vh;
}

.b1{
  text-align: center;
  background-color:white;
  margin: 1vh;
  box-shadow: rgba(88, 88, 241, 0.1) 0px 4px 16px, rgba(236, 236, 236, 0.05) 0px 8px 32px;
  border-radius: 5vh;
}

.b1 p{
  font-family: "GE SS Two Medium";
}

.b1 h5{
  font-family: "GE SS Two Medium";
  padding-top: 2vh;
}

.b1 h6{
  font-family: "GE SS Two Light";
}

iframe{
  width: 500px;
   height: 330px;
   border: 0;
}

/****************/

.downIcon {
  padding: 8px;
  background-color: rgba(93, 142, 109, 0.4);
  width: 5vh;
  height: 5vh;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 94%;
  left: 50%;
  margin: -25px 0 0 -25px;
  transition: 1s;
  cursor: pointer;
  animation: upAndDown 1s ease-in-out infinite;
}

#downIcon {
  width: 3vh;
}


.upIcon {
  padding: 6px;
  background-color: rgba(93, 142, 109, 0.4);
  width: 5vh;
  height: 5vh;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 94%;
  left: 46%;
  margin: -25px 0 0 -25px;
  transition: 1s;
  cursor: pointer;
  animation: upAndDown2 1s ease-in-out infinite;
}

#upIcon {
  width: 3vh;
}


@keyframes textVisibility {
  from {
    opacity: 0;
    transform: translateY(-1vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imgVisibility {
  from {
    opacity: 0;
  }

  to {}
}


@keyframes upAndDown {
  from {
    transform: translateY(-1vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes upAndDown2 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-1vh);
  }
}


/***** Mobile Design **************/

@media (max-width: 786px) {

  body{
    height: 140vh;
  }

  .line1 {
    width: 5vh;
    margin-top: 2.2vh;
  }

  h1 {
    padding-right: 6vh;
    font-size: 1.2rem;
  }

  #mainContact{
    font-size: 1.0rem;
  }

  iframe{
    width: 200px;
    height: 200px;
  }


  .upIcon {
/*     top: 118%;
    left: 63%; */
    margin-right: 3vh;
  }


}



/******** iPad Design **********/

@media screen and (min-width: 768px) and (max-width: 1366px) {
  body{
    height: 120vh;
  }

  .line1 {
    margin-top: 1vh;
  }
}