@font-face{
  font-family: GE SS Two Medium;
  src: url(../fonts/GE_SS_Two_Medium.otf) format("truetype");
}

@font-face{
  font-family: GE SS Two Light;
  src: url(../fonts/GE_SS_Two_Light.otf) format("truetype");
}

.r2{
  margin-top: 17vh;
}

.sr{
  text-align: right;
  padding-top: 15vh;
}

.line1{
  width: 30vh;
  height: 0.5vh;
  background-color: white;
  border-radius: 20vh;
  float: right;
  margin-top: 3.5vh;
}

h1{
  color: #5D8E6D;
  font-family: "GE SS Two Medium";
  padding-right: 31vh;
  text-align: right;
}


.text{
  color: white;
  font-family: "GE SS Two Light";
  width: 90vh;
  font-size: 1.2rem;
  text-align: right;
  float: right;
  margin-right: 33vh;
  margin-top: 2vh;
  margin-bottom: 8vh;
}



#ProductsImg{
  width: 45vh;
  margin-top: 15vh;
}


.downIcon{
  padding: 8px;
  background-color: rgba(93, 142, 109, 0.4);
  width: 5vh;
  height: 5vh;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 94%;
  left: 50%;
  margin: -25px 0 0 -25px;
  transition: 1s;
  cursor: pointer;
  animation: upAndDown 1s  ease-in-out infinite;
}

#downIcon{
  width: 3vh;
}

@keyframes upAndDown {
  from{
      transform: translateY(-1vh);
  }
  to{
      transform: translateY(0);
  }
}



/***** Mobile Design **************/

@media (max-width: 786px){

  body{
    height: 120vh;
  }

  .sr{
    padding-top: 5vh;
  }

  .r2{
    margin-top: 3vh;
  }
  
#ProductsImg{
  width: 30vh;
  margin-top: 15vh;
/*   margin-left: 0vh; */
}

  .line1{
    width: 5vh;
    margin-top: 1.8vh;
}

h1{
    padding-right: 6vh;
    font-size: 1.7rem;
}

.text{
    width: 30vh;
    margin-right: 2vh;
    margin-bottom: 3vh;
}

.text p{
    font-size: 1rem;
}

/* .downIcon{
    top: 122%;
    left: 50%;
} */

}



/******** iPad Design **********/

@media screen and (min-width: 768px) and (max-width: 1366px){

  body{
    height: 100vh;
  }

  .r3{
    margin-top: 11vh;
  }
  .sr{
    margin-top: 2vh;
  }

  #circleImg{
    width: 50vh;
    height: 50vh;
    /* margin-left: 26vh; */
  }
  
  #sheelImg{
    width: 17vh;
    transform: translate(-34vh, 6vh);
  }

  #ProductsImg {
    width: 30vh;
    margin-top: 8vh;
    margin-left: 16vh;
  }

  .text{
    width: 60vh;
  }
/*   p{
    width: 40vh;
  } */
}



/*****************************************************/
/* 
@media screen and (max-width: 1170px) {


  .line1{
      width: 11vh;
      margin-top: 1.5vh;
  }

  h1{
      padding-right: 12vh;
  }

  .text{
      width: 80vh;
      margin-right: 13vh;
  }

}


@media only screen and (max-width: 600px) and (min-width: 300px) {

  .line1{
      width: 5vh;
  }

  h1{
      padding-right: 6vh;
      font-size: 1.7rem;
  }

  .text{
      width: 30vh;
      margin-right: 8vh;
      margin-bottom: 3vh;
  }

  .text p{
      font-size: 1rem;
  }

  .downIcon{
      top: 112%;
  }
}
 */